.BuildControls {
    width: 100%;
    background-color: #8080ff;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #800040;
    margin: auto;
    padding: 5px 0;
}

.OrderButton {
    background-color: #cf287c;
    outline: none;
    cursor: pointer;
    border: 1px solid #ad5bff;
    color: #7e00fd;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    box-shadow: 2px 2px 2px #b00058;
}

.OrderButton:hover,
.OrderButton:active {
    background-color: #ad5bff;
    border: 1px solid #6500ca;
    color: #7f3fbe;
}

.OrderButton:disabled {
    background-color: #d7aeff;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}